.ListItem {
  color: rgb(16, 27, 27);
  font-size: 20px;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.removeButton {
  background-color: #050505;
  color: rgb(244, 237, 237);
  border: none;
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

.removeButton:hover {
  background-color: #d42828;
}
